# gradle
.gradle/
build/
out/
classes/

# eclipse
*.launch
.settings/
bin/
.classpath
.project

# idea
.idea/
*.iml
*.ipr
*.iws

# vscode
.vscode/

# dev runs
run/
run-server/
logs/

# os
*.DS_Store
Thumbs.db
